@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }  
  body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
    font-family: sans-serif;
  }

  /* About-section  */

  .our-team{
    font-family: "Centruy Gothic";
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .title{
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin: 10px 0px;
    position: relative;
  }

  .title::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    background-image: linear-gradient(to left, transparent 5%, #726a95);
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
  }


.team-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.member{
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
    background-color: white;
    border-radius: 20px
}
.member:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-20px);
}

.member img{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #726a95;
    border-radius: 50%;
    margin: 0 auto;
}

.member h2{
    text-transform: uppercase;
    font-size: 24px;
    color: #726a95;
    padding: 15px 0;
}

.member p{
    font-size: 15px;
      color: #252323;
      line-height: 1.6;
}



 /* Projects-section  */
 .project-section {
    text-align: center;
    padding: 2em 0;
    width: 100%;
    height: auto;
    margin-top: 100px;
  }
  .project-text{
    background-color: #241010;
    height: 300px;
    z-index: 0;
    margin-top: -34px;
  }
  .project-text img{
    width: 100%;
    height: 100%;
  }
  .projContainer-div{
    margin-top: -100px;
    z-index: 2;
  }
  
  .project-section .text{
    margin: 50px 0px 50px 0px;
    font-size: 20px;
    color: #d2c9c9;
  }
  .project-section h1, h2, .tag {
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  
  .project-section h1 {
    font-size: 40px;
    color: white;
    margin: 50px 0 30px 0;
    line-height: 1em;
  }
  
  .project-section h2 {
    color: #444;
    transition: 0.3s;
    margin: 0;
    font-size: 18px;
  }
  
  .tag {
    font-size: 1.3rem;
    color: #888;
    font-weight: normal;
    margin: 0 0 3em;
  }
  
  .projContainer {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 340px;
    height: auto;
    cursor: pointer;
    margin: 0 0.5em 1em;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
  }
  
  .projContainer img {
  transition: 0.9s;
  width: 100%;
  height: 100%;
  }
  
  .projContainer:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  
  .projInfoContainer {
    display: none;
    position: relative;
    padding: 1em 1em 0;
    background: rgba(245,245,245,0.95);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;  
    transition: 0.3s;
    margin-top: 0;
    text-align: left;
    border-top: 5px solid #333;
    font-family: sans-serif;
  }
  
  .projContainer:hover .projInfoContainer {
      margin-top: -5rem;
      display: block;
  }
  
  .projCat {
    color: #57c0de;
    font-weight: bold;
    margin-top: 0;
    font-style: italic;
  }
  
  .projSpec {
   color: #333;
  }
  .projContainer:hover .projInfoContainer:before {
    right: 1em;
  }
  p{
    margin-bottom: 0rem;
  }