@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }  
  body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
    font-family: sans-serif;
  }

/* Home-Page Styling */

  .home-page {
    height: 100vh;
    width: 100%;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    max-width: 100%;
    padding: 20px 15px;
  }
  
  .navbar .logo a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar .links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
  }
  
  .navbar .links a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    transition: 0.2s ease;
  }
  
  .navbar .links a:hover {
    color: #47b2e4;
  }
  
  .navbar .buttons a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 15px 0;
    transition: 0.2s ease;
  }
  
  .navbar .buttons a:not(:last-child) {
    margin-right: 30px;
  }
  
  .navbar .buttons .signin:hover {
    color: #47b2e4;
  }
  
  .navbar .buttons .signup {
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 0.375rem;
    text-align: center;
    transition: 0.2s ease;
  }
  
  .navbar .buttons .signup:hover {
    background-color: #47b2e4;
    color: #fff;
  }
  
  .hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .hero-section .hero {
    max-width: 50%;
    color: #fff;
  }
  
  .hero h2 {
    font-size: 2.5rem;
    margin-left: 70px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-left: 70px;
    color: #c9c7c7;
  }
  
  .hero-section .img img {
    width: 517px;
  }
  
  .hero-section .buttons {
    margin-top: 40px;
    margin-left: 70px;
  }
  
  .hero-section .buttons a {
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: 0.2s ease;
    display: inline-block;
  }
  
  .hero-section .buttons a:not(:last-child) {
    margin-right: 15px;
  }
  
  .buttons .join {
    background-color: #47b2e4;
  }
  
  .hero-section .buttons .learn {
    border: 1px solid #fff;
    border-radius: 0.375rem;
  }
  
  .hero-section .buttons a:hover {
    background-color: #47b2e4;
  }
  
  /* Hamburger menu styles */
  #menu-toggle {
    display: none;
  }
  
  #hamburger-btn {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    order: 1;
  }
  
  @media screen and (max-width: 1023px) {
    .navbar .logo a {
      font-size: 1.8rem;
      text-decoration: none;
      color: #fff;
    }
    
    .hero h2 {
      font-size: 2rem;
      margin:auto;
  }

  .hero p{
    margin: auto;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
  }
  
    .links {
      position: fixed;
      left: -100%;
      top: 75px;
      width: 100%;
      height: 100vh;
      padding-top: 50px;
      background: #175d69;
      flex-direction: column;
      transition: 0.3s ease;
    }
  
    .navbar #menu-toggle:checked ~ .links {
      left: 0;
    }
  
    .navbar #hamburger-btn {
      display: block;
    }
  
    .header .buttons {
      display: none;
    }
    .hero-section{
      flex-direction: column;
    }
  
    .hero-section .hero {
      max-width: 100%;
      margin-top: 70px;
      margin-inline: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      gap: 30px;
    }
  
    .hero-section .buttons{
        margin: auto;
    }
    .hero-section .img img {
      width: 400px;
      height: 300px;
      margin: 10px 0px -35px px;
    }
  }
  
  @media screen and (max-width: 380px) {
    .hero-section .hero {
      max-width: 100%;
      text-align: center;
      margin-top: 100px;
      gap: 20px;
    }
    .hero h2 {
      font-size: 1.5rem;
      margin: auto;
    }
    .hero p {
      font-size: 1rem;
      margin: auto;
      color: #c9c7c7;
    }
    .hero-section .img img {
      width: 370px;
      height: 250px;
    }

    .hero-section .buttons{
        margin: auto;
    }
  }
  
/* Services Section Styling */

.images{
  width: 60px;
  height: 60px;
}
.container{
  display: grid;
  margin-bottom: 150px;
}
.container__box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  gap: 25px;
}
.container .container__box .box{
  background: transparent;
  border: 1px solid;
  border-radius: 6px;
  box-shadow: 1.5px 1.5px 2px #968d8d77;
  border-color:#fff;
  text-align: center;
  padding: 20px 30px;
  transition: all 1s;
  color: white
}

.container .container__box .box:hover{
  transform: scale(1.05);
}

.container__heading{
  text-align: center;
  padding-bottom: 15px;
  color: #e3e3e3;
  font-size: 50px;
  font-weight: 600;
}
.container .container__box .box h3{
  font-size: 20px;
  font-weight: 600;
}
.container .container__box .box p{
  font-size: 17px;
  font-weight: 100;
}
.container .container__box .box a{
  border-radius: 4px;
  border-color: #fff;
  background:transparent;
  color: white;
}
.container .container__box .box a:hover{
  background: #47b2e4;
}

/* Styling for Skills Section */

:root {
  --clr-background: radial-gradient(circle at 49% 46%,rgba(149,176,241,0.51), rgba(174, 192, 235, 0) 50%), radial-gradient(circle at 10% 10%,rgba(241, 189, 134, 0.758), rgba(240,173,103,0) 50%), radial-gradient(circle at 90% 10%,rgba(183, 150, 255, 0.631), rgba(184,150,255,0) 50%), radial-gradient(circle at 90% 90%,rgba(81, 136, 191, 0.69), rgba(47,168,178,0) 50%), radial-gradient(circle at 10% 90%,rgba(142, 106, 196, 0.5), rgba(168,112,253,0) 50%);
  --clr-line: rgba(255, 255, 255, 0.65);
  --clr-text: rgba(0, 0, 0, 0.77); 
  --clr-orange: rgba(220, 129, 32, 0.663);  
  --clr-white: rgb(255, 255, 255);
  --fontfp: 'Montserrat Alternates', sans-serif;

  --value-percentage10: rotate(18deg);
  --value-percentage20: rotate(36deg);
  --value-percentage30: rotate(54deg);
  --value-percentage40: rotate(72deg);
  --value-percentage50: rotate(90deg);
  --value-percentage60: rotate(108deg);
  --value-percentage70: rotate(126deg);
  --value-percentage80: rotate(144deg);
  --value-percentage90: rotate(162deg);
  --value-percentage100: rotate(180deg);
  --to-deg: 
}

.container-skills{
  /* border: 1px solid white;
  border-radius: 20px; */
}

.container-skills header h2 {
  margin:auto;
  color: rgb(243, 240, 240);
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  justify-content: center;
  display: flex;
  margin-left: -20px;
}

.skills{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.ch-grid {
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.circle:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 160px;
    height: 160px;
    display: inline-block;
    margin:10px;
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 
        inset 0 0 0 14px #175d69,
        0 1px 2px rgba(30, 28, 28, 0);
    transition: all 0.4s ease-in-out;
}

.ch-img { 
    position: absolute;
    width: 45%;
    height: 45%;
    left: 27%;
    top: 28%;
}

.ch-info {
    position: absolute;
    background: rgba(255, 255, 255, 0.017);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
}

.ch-info h3 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 0px 30px;
    padding: 40px 0 0 0;
}

.ch-info p {
    color: #fff;
    padding: 5px 5px;
    margin: 0 20px;
    font-size: 16px;
    border-top: 3px solid var(--clr-orange);
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}

.circle:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}

.circle:hover .mask.full  {
  display: none;
}

.circle:hover .mask .fill  {
  display: none;
}

.circle:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}

.circle:hover .ch-info p {
    opacity: 1;
}

.circle .mask,
.circle .fill {
  width: 160px;
  height: 160px;
  position: absolute;
  border-radius: 50%;
}

.circle .mask {
    clip: rect(0px, 160px, 160px, 80px);
  }

.mask .fill {
  clip: rect(0px, 80px, 160px, 0px);
  background-color: white;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
}
.inside-circle h3{
    margin: 40% 0% 0%  -4%;
}
@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: var(--to-deg);
  }
}

.circle .inside-circle {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background: rgb(137, 161, 216);
    margin-top: 14px;
    margin-left: 14px;
    position: absolute;
  }


  /* Footer Styling */
footer{
    margin-block: 40px;
    color: #fff;
    text-align: center;
}
footer span {
    color:  white;
    font-size: 20px;
    text-decoration: none;
    transition: all;
}
footer span:hover{
    text-shadow: 2px 2px 4px rgba(253, 253, 253, 0.661);;
}